main{
    display: flex;
    padding: 0px 40px 0px 0px;
}

aside{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin-right: 20px;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
}

aside a {
    text-decoration: none;
    color: #000000;
    padding: 20px 40px;
    border-bottom: 1px solide #000000;
}

.content{
    width: calc(100vw - 300px);
}

h1{
    font-size: 36px;
    font-weight: 700;
}

.content p{
    text-align: justify;
}